<?xml version="1.0" encoding="UTF-8"?>
<sparkleshare>
  <user>
    <name>Unknown</name>
    <email>Unknown</email>
  </user>
  <notifications>True</notifications>
  <home_path>F:\PortableApps\SparkleSharePortable\Data</home_path>
  <folders_path>F:\PortableApps\SparkleSharePortable\Data\folders</folders_path>
</sparkleshare>